body
    +light
    color: $text-color

.button-o
    border: 2px solid $primary-color
    color: $primary-color
    padding: 17px 22px
    background: none
    text-transform: uppercase
    cursor: pointer
    font-size: 12px
    +bold